.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas {
  margin: 8px;
}

svg {
  border: 1px solid black;
}

@keyframes casinoLights {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 2;
  }
}

polygon {
  stroke: turquoise;
  fill: none;
  stroke-width: 5px;
  stroke-linecap: round;
  stroke-linejoin: round;

  stroke-dasharray: 100, 1000;
  stroke-dashoffset: 100;
  transition: stroke-dashoffset 3s ease-in-out;

  &.visible {
    stroke-dashoffset: 0;
  }

  &.casino-lights {
    stroke-dasharray: 0, 2;
    stroke-dashoffset: 0;
    animation: casinoLights 800ms linear infinite;
  }
}
