.container {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.canvas {
  width: 80vw;
  height: 70vh;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.path {
  fill: none;
  stroke: rgba(87, 199, 133, 1);
  stroke-width: 2px;
}

.triangle {
}

.box {
  height: 50px;
  width: 50px;
  background: radial-gradient(
    circle,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}

.button-bar {
  margin-left: -500px;
}
