header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    
    .nav-links {
        display: flex;
        gap: 2rem;
        
        a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
