.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

@keyframes rotateFlower {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeInOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fancyPulse {
  0% {
    transform: scale(1);
    fill: red;
  }
  50% {
    transform: scale(1.2);
    fill: lightpink;
  }
  100% {
    transform: scale(1);
    fill: red;
  }
}

svg {
  border: 1px solid #0c0c0c;
  border-radius: 8px;

  .petal {
    transition: transform 1s ease-in-out;
  }
  .inner {
    ellipse {
      fill: whitesmoke;
      stroke: grey;
      stroke-width: 2px;
      transition: fill 300ms ease-out;
      &.highlighted {
        fill: cornflowerblue;
        stroke: darkblue;
      }
    }
  }

  .rotating {
    animation: rotateFlower 20s linear infinite;
  }

  .heart {
    animation: fadeInOpacity 500ms ease-in-out;
  }

  .pulse {
    animation: fancyPulse 2s ease-in-out infinite;
  }
}
