.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  height: 200px;

  .bird {
    transition: transform 0.5s ease-in-out;
  }
  .wing {
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }
  &:hover {
    .bird {
      /*transform: rotate(-65deg) translate(-35px, 0);*/
      transform: rotate(-84deg) translate(-41px, -5px);
    }
    .wing {
      opacity: 1;
    }
  }

  .t {
    fill: green;
  }
}
